/* Sakura.css v1.0.0
 * ================
 * Minimal css theme.
 * Project: https://github.com/oxalorg/sakura
 *
 *
 * @zgparsons: Many edits and changes made for my personal site: https://zacharyparsons.co.uk
 * Thanks to https://oxal.org/ for providing a great base!
 */

 

/* Body */

html {
  --bg: #dbe9e9;
  --alt-bg: #e1e1e1;
  --color-headings: #b0d4d0;
  --color-text: #0f1a19;
  --a: #008080;
  --link-hover: #006666;
}

html[data-theme='dark'] {
  --bg: #1f1515;
  --alt-bg: #4a4a4a;
  --color-headings: #a1595f;
  --color-text: #e1d9d9;
  --a: #67393d;
  --link-hover: #81474c;
}


html {
    font-size: 62.5%;
    font-family: serif; }
  
  body {
    font-size: 1.8rem;
    line-height: 1.618;
    max-width: 45em;
    margin: auto;
    color: var(--color-text);
    background-color: var(--bg);
    padding: 13px; }
  
  @media (max-width: 684px) {
    body {
      font-size: 1.53rem;
    }
    body main {
      margin-left: 0px;
    }
    body footer {
      margin-left: 0px;
    }
    sidebar {
      display: none;
    } }
  
  @media (max-width: 382px) {
    body {
      font-size: 1.35rem; }
    body main {
      margin-left: 0px;
    }
    body footer {
      margin-left: 0px;
    }
    sidebar {
      display: none;
    } }
  
  h1, h2, h3, h4, h5, h6 {
    line-height: 1.1;
    font-family: Verdana, Geneva, sans-serif;
    font-weight: 700;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto; }
  
  h1 {
    font-size: 2.35em; }
  
  h2 {
    font-size: 2.00em;
    margin: 0; }
  
  h3 {
    font-size: 1.75em; }
  
  h4 {
    font-size: 1.5em; }
  
  h5 {
    font-size: 1.25em; }
  
  h6 {
    font-size: 1em; }
  
  small, sub, sup {
    font-size: 75%;
    line-height: 0.75; }
  
  hr {
    border-color: var(--a); }
  
  a {
    text-decoration: none;
    color: var(--a); }
    a:hover {
      color: var(--link-hover);
      border-bottom: 2px solid var(--color-text); }
  
  ul {
    padding-left: 1.4em; }
  
  li {
    margin-bottom: 0.4em; }
  
  blockquote {
    font-style: italic;
    margin-left: 1.5em;
    padding-left: 1em;
    border-left: 3px solid var(--a); }
  
  img {
    max-width: 100%; }
  
  /* Pre and Code */
  pre {
    background-color: var(--alt-bg);
    display: block;
    padding: 1em;
    overflow-x: auto; }
  
  code {
    font-size: 0.9em;
    padding: 0 0.5em;
    background-color: var(--alt-bg);
    white-space: pre-wrap; }
  
  pre > code {
    padding: 0;
    background-color: transparent;
    white-space: pre; }
  
  /* Tables */
  table {
    text-align: justify;
    width: 100%;
    border-collapse: collapse; }
  
  td, th {
    padding: 0.5em;
    border-bottom: 1px solid var(--alt-bg); }
  
  /* Buttons, forms and input */
  input, textarea {
    border: 1px solid var(--color-text); }
    input:focus, textarea:focus {
      border: 1px solid var(--a); }
  
  textarea {
    width: 100%; }
  
  .button, button, input[type="submit"], input[type="reset"], input[type="button"] {
    display: inline-block;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    background-color: var(--a);
    color: var(--alt-bg);
    border-radius: 1px;
    border: 1px solid var(--a);
    cursor: pointer;
    box-sizing: border-box; }
    .button[disabled], button[disabled], input[type="submit"][disabled], input[type="reset"][disabled], input[type="button"][disabled] {
      cursor: default;
      opacity: .5; }
    .button:focus, .button:hover, button:focus, button:hover, input[type="submit"]:focus, input[type="submit"]:hover, input[type="reset"]:focus, input[type="reset"]:hover, input[type="button"]:focus, input[type="button"]:hover {
      background-color: var(--link-hover);
      border-color: var(--link-hover);
      color: var(--alt-bg);
      outline: 0; }
  
  textarea, select, input[type] {
    color: var(--color-text);
    padding: 6px 10px;
    /* The 6px vertically centers text on FF, ignored by Webkit */
    margin-bottom: 10px;
    background-color: var(--alt-bg);
    border: 1px solid var(--alt-bg);
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box; }
    textarea:focus, select:focus, input[type]:focus {
      border: 1px solid var(--a);
      outline: 0; }
  
  input[type="checkbox"]:focus {
    outline: 1px dotted var(--a); }
  
  label, legend, fieldset {
    display: block;
    margin-bottom: .5rem;
    font-weight: 600; }


/* Additional Styles below this point */

  body {
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-weight: 300;
  }

  h1 {
      text-transform: uppercase;
      font-weight: 300;
  }

  header {
      display: grid;
      justify-content: space-between;
      align-items: center;
      grid-template-columns: 50% auto auto;
  }

  .social a:hover {
    text-decoration: none;
  }

  main {
      display: grid;
      grid-gap: 15px;
      grid-template-columns: 1fr;
      grid-auto-rows: max-content;
      grid-auto-flow: row dense;
      justify-items: stretch;
      margin-left: 200px;
  }

  sidebar {
    margin: 0;
    padding-top: 25px;
    width: 200px;
    position: fixed;
    height: 90%;
  }

  sidebar ul {
    padding-right: 1.4em;
  }

  footer {
    margin-left: 200px;
  }

  h2 {
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  .article h3 {
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  img {
      height: auto;
      width: 100%;
  }

  /* Toggle styles - edited but influenced by https://codepen.io/mburnette/pen/LxNxNg */

  input[type=checkbox]{
    height: 0;
    width: 0;
    visibility: hidden;
  }

  .switch {
    cursor: pointer;
    text-indent: -9999px;
    width: 66px;
    height: 35px;
    bottom: 10px;
    background: grey;
    display: block;
    border-radius: 50px;
    position: relative;
  }

  .switch:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 3px;
    width: 30px;
    height: 30px;
    background: #fff;
    border-radius: 45px;
    transition: 0.3s;
  }

  input:checked + label {
    background: var(--a);
  }

  input:checked + label:after {
    left: calc(100% - 2px);
    transform: translateX(-100%);
  }

  label:active:after {
    width: 100px;
  }

  // centering
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  html.transition,
  html.transition *,
  html.transition *:before,
  html.transition *:after {
    transition: all 750ms !important;
    transition-delay: 0 !important;
  }

  /* Progress Bar styles */
  .progress {
    list-style: none;
    font-size: 1rem;
  }

  progress[value] {
    /* Reset the default appearance */
    -webkit-appearance: none;
    appearance: none;
  }

  progress {
    background-color: var(--alt-bg);
    border: 0;
    height: 18px;
    border-radius: 9px;
  }
  progress::-webkit-progress-bar {
    background-color: var(--a);
    border: 0;
    height: 18px;
    border-radius: 9px;
  }
  progress::-webkit-progress-value {
    background-color: var(--a);
    border: 0;
    height: 18px;
    border-radius: 9px;
  }
  progress::-moz-progress-bar {
    background-color: var(--a);
    border: 0;
    height: 18px;
    border-radius: 9px;
  }