<section id="banner">
  <div class="content">
    <header>
      <h1>Hi, I’m {{ site.author.name }}</h1>
      <p>Interested in websites,
          Digital Marketing and Computer Science.
    </header>

    <p>
    Currently a Digital Marketing Apprentice, and also attempting a self-taught Computer Science education in any spare time I can find, which is laid out in this <a href="https://github.com/ossu/computer-science">repo</a>.
    </p>

    <ul class="actions">
      <li><a href="/about" class="button big">Learn More</a></li>
    </ul>
  </div>
  {% include span_image url="/banner.jpg" type="object" %}
</section>
