<section id="banner">
  <div class="content">
    <header>
      <h1>Hi, I’m {{ site.author.name }}</h1>
      <p>Interested in websites,
          Digital Marketing and Computer Science.
    </header>

    <p>
    I'm teaching myself Computer Science and web development in any spare time I can find! I've used this <a href="https://github.com/ossu/computer-science">repo</a> as a bit of a starting point, and am currently working on the final pset of CS50.
    </p>

    <ul class="actions">
      <li><a href="/about" class="button big">Learn More</a></li>
    </ul>
  </div>
  {% include span_image url="/banner.jpg" type="object" %}
</section>
