<section>
  <header class="major">
    <h2>Projects</h2>
  </header>
  <p>These are some recent personal projects which I have worked on</p>
  <div class="features">
    <article>
      <span class="icon fa-diamond"></span>
      <div class="content">
        <h3>Digital Marketing</h3>
					<p>Making notes on all of the Knowledge Modules & probably Google Analytics too.</p>
					<ul class="actions special">
						<li><a href="/digital-marketing/" class="button">Visit</a></li>
          </ul>
      </div>
    </article>
    <article>
      <span class="icon fa-code"></span>
      <div class="content">
        <h3>CS50 Problem Sets</h3>
        	<p>I'm uploading my finished CS50 problem sets to Github. And this site is hosted there too.</p>
        	<ul class="actions special">
        		<li><a href="https://github.com/zgparsons" class="button">Visit</a></li>
          </ul>
      </div>
    </article>
    <article>
      <span class="icon fa-laptop"></span>
      <div class="content">
        <h3>zchry.co</h3>
				<p>Mainly just a place for me to put things...<br>
          and a cool domain!</p>
				<ul class="actions special">
					<li><a href="http://zchry.co" class="button">!?</a></li>
        </ul>
      </div>
    </article>
    <article>
      <span class="icon fa-signal"></span>
      <div class="content">
        <h3>Webshape</h3>
        <p>Showing off any sites that I build for friends and clients.</p>
        <ul class="actions special">
        	<li><a href="https://webshape.uk" class="button">Visit</a></li>
        </ul>
      </div>
    </article>
  </div>
</section>
